@font-face {
	font-family: 'netrunner';
	src:url('../fonts/netrunner.eot');
	src:url('../fonts/netrunner.eot') format('embedded-opentype'),
		url('../fonts/netrunner.woff') format('woff'),
		url('../fonts/netrunner.ttf') format('truetype'),
		url('../fonts/netrunner.svg?') format('svg');
	font-weight: normal;
	font-style: normal;
}

.nr {
	font-family: 'netrunner';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.nr-haas-bioroid:before {
	content: "\e602";
}
.nr-shaper:before {
	content: "\e603";
}
.nr-subroutine:before {
	content: "\e604";
}
.nr-anarch:before {
	content: "\e605";
}
.nr-trash:before {
	content: "\e606";
}
.nr-weyland-consortium:before {
	content: "\e607";
}
.nr-recurring-credit:before {
	content: "\e608";
}
.nr-jinteki:before {
	content: "\e609";
}
.nr-1mu:before {
	content: "\e60a";
}
.nr-nbn:before {
	content: "\e60b";
}
.nr-2mu:before {
	content: "\e60c";
}
.nr-agenda:before {
	content: "\e60d";
}
.nr-3mu:before {
	content: "\e60e";
}
.nr-rez:before {
	content: "\e60f";
}
.nr-mu:before {
	content: "\e610";
}
.nr-click:before {
	content: "\e611";
}
.nr-criminal:before {
	content: "\e612";
}
.nr-link:before {
	content: "\e601";
}
.nr-credit:before {
	content: "\e600";
}
