<div class="game container">

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Game Menu -->
    <div class="menu glass">
      <div class="area">
        <div class="label">Game Menu</div>
      </div>
    </div>

    <!-- Turn -->
    <div class="turn glass">
      <div class="area">
        <div class="label">Turn Summary</div>
      </div>
    </div>

    <!-- Chat -->
    <div class="chat glass">
      <div class="area">
        <div class="label">Chat</div>
        <ul class="messages">
          <li class="runner">Hey dude!</li>
          <li class="runner">hows it going, long time no see</li>
          <li class="corp">Not much man. Got this new deck I'm trying to play around with.</li>
          <li class="runner">be gentle :)</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Play Area -->
  <div class="play-container"></div>
</div>