<div class="container">

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Action -->
    <div class="action">
      <div class="header">Current Action</div>
    </div>

    <!-- Turn -->
    <div class="turn">
      <div class="header">Turn Summary</div>
    </div>

    <!-- Chat -->
    <div class="chat">
      <div class="header">Player Chat</div>
      <ul class="messages">
        <li class="runner">Hey dude!</li>
        <li class="runner">hows it going, long time no see</li>
        <li class="corp">Not much man. Got this new deck I'm trying to play around with.</li>
        <li class="runner">be gentle :)</li>
      </ul>
    </div>
  </div>

  <!-- Gaming Table -->
  <div class="game">

    <!-- Corp Area -->
    <div class="corp board">
      <div class="hud">
        <div class="player">
          <span class="side">Corp:</span>
          <span class="name">cpsubrian</span>
        </div>
        <div class="stats">
          <div class="credits">
            <i class="nr nr-credit"></i> <span class="count">8</span>
          </div>
          <div class="badpub">
            <span class="label">BP</span> <span class="count">0</span>
          </div>
          <div class="handsize">
            <span class="label">Cards</span> <span class="count">4</span><span class="total">/5</span>
          </div>
        </div>
      </div>
      <div class="playmat">
        <div class="servers">
          <div class="centrals">
            <div class="area archives trash server"></div>
            <div class="area hq identity server"></div>
            <div class-"area rd server"></div>
          </div>
          <div class="remotes">
            <div class="area remote server"></div>
            <div class="area remote server"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Runner Area -->
    <div class="runner board">
      <div class="hud">
        <div class="player">
          <span class="side">Runner:</span>
          <span class="name">joshstender</span>
        </div>
        <div class="stats">
          <div class="credits">
            <i class="nr nr-credit"></i> <span class="count">11</span>
          </div>
          <div class="link">
            <i class="nr nr-link"></i> <span class="count">1</span>
          </div>
          <div class="memory">
            <i class="nr nr-mu"></i> <span class="count">4</span>
          </div>
          <div class="tags">
            <span class="label">Tags</span> <span class="count">0</span>
          </div>
          <div class="brain">
            <span class="label">BD</span> <span class="count">0</span>
          </div>
          <div class="handsize">
            <span class="label">Cards</span> <span class="count">5</span><span class="total">/5</span>
          </div>
        </div>
      </div>
      <div class="playmat">
        <div class="rig">
          <div class="main">
            <div class="area resources"></div>
            <div class="area grip identity"></div>
            <div class="area stack"></div>
            <div class="area heap trash"></div>
          </div>
          <div class="secondary">
            <div class="area hardware"></div>
            <div class="area console"></div>
          </div>
          <div class="area programs"></div>
        </div>
      </div>
    </div>

    <!-- Card Viewer -->
    <div class="view-card"></div>

  </div>
</div>