<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/netrunner.css" />
  <link rel="stylesheet" type="text/css" href="css/nrdb.css" />
  <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.css" />
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  {{{content}}}

  <script src="vendor/require.js"></script>
  <script src="build/config.js"></script>
  <script src="build/cards/all.js"></script>
  <script>
    // Bootstrap the application
    requirejs(['jquery', 'game'], function ($, app) {
      // Start the app.
      $(function () {
        app.start();
      });
    });
  </script>
</body>
</html>
