body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 77%;
  background: url(/images/backgrounds/black_linen.png) top left repeat;
}
div {
  box-sizing: border-box;
}
.container {
  display: flex;
  padding: 5px;
  height: 100%;
}

/* Glass Area */
.glass {
  position: relative;
  background: rgba(190, 190, 190, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin: 5px;
  color: #fff;
}

/* Bordered Area */
.area {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 5px;
  border-radius: 5px;
}
.area .label {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
  border-top-left-radius: 5px;
  border-bottom-right-radius: 4px;
  padding: 0 3px;
  text-transform: uppercase;
  font-size: 0.85em;
  z-index: 1000;
  cursor: help;
}
.area .label:hover {
  background: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.9);
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 240px;
}
.sidebar .menu {
  height: 5em;
  display: flex;
}
.sidebar .turn {
  flex: 1 0 auto;
  display: flex;
}
.sidebar .chat {
  height: 200px;
  display: flex;
}
.sidebar .area {
  flex: 1 0;
  padding: 5px;
}
.sidebar .chat .messages {
  margin: 0;
  padding: 5px 3px;
  list-style: none;
  line-height: 1.15em;
}
.sidebar .chat .messages li {
  margin: 0 0 5px 0;
  padding: 5px;
  list-style: none;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}
.sidebar .chat .messages li.runner {
  margin-right: 15px;
}
.sidebar .chat .messages li.corp {
  margin-left: 15px;
}
.sidebar .chat .corp {
  color: #289EE2;
}
.sidebar .chat .runner {
  color: #E54333;
}


/* Play Area */
.play-container {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 100%;
}
.play {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 100%;
}


/* Player boards */
.corp-board {
  display: flex;
  flex: 1 0 auto;
}
.runner-board {
  display: flex;
}
.board {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  align-content: center;
}
.playmat {
  flex: 1 0 auto;
  display: flex;
}

/* HUD */
.hud {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 150px;
}
.hud .player .label {
  bottom: auto;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
}
.hud .player .name {
  text-align: center;
  padding: 20px 5px 8px 5px;
}
.hud .stats {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
}
.corp .hud .stats {
  height: 6em;
}
.runner .hud .stats {
  height: 9em;
}
.hud .stats > div {
  width: 50%;
  text-align: center;
}
.hud .stats .stat,
.hud .stats .total {
  color: #ddd;
}
.hud .stats i {
  font-weight: bold;
}
.hud .stats .label,
.hud .stats .stat {
  font-weight: normal;
}
.hud .stats .count {
  margin-left: 5px;
}
.hud .stats .total {
  font-size: 0.8em;
}
.hud .score {
  flex: 1 0 auto;
}

/* Servers */
.servers {
  flex: 1 0 auto;
  display: flex;
  align-content: flex-start;
}
.servers .centrals {
  display: flex;
}
.servers .remotes {
  display: flex;
}
.servers .server {
  display: flex;
  flex-direction: column;
}
.servers .server .root {
  position: relative;
  flex-shrink: 0;
}
.servers .server .ice {
  flex: 1 0 auto;
}

/* Rig */
.rig {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.rig .main {
  flex: 1 0 auto;
  display: flex;
  order: 2;
}
.rig .secondary {
  flex: 1 0 auto;
  display: flex;
  order: 1;
}
.rig .single {
  position: relative;
  flex-shrink: 0;
}
.rig .zone {
  position: relative;
  flex: 1 0 auto;
}

/* Single Cards */
.rig .single .card img,
.server .root .card img {
  width: 100%;
  height: auto;
}

/* Cards */
.card {
  position: relative;
  font-size: 0;
  border-radius: 5%;
}
.card img {
  border-radius: 5px;
}
.card .card-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
}
.card:hover .card-overlay {
  box-shadow: inset 0 0 10px 2px rgba(255, 255, 255, 0.75);
}

/* Deck */
.deck {
  position: relative;
}
.deck .card {
  position: absolute;
  top: 0;
  left: 0;
}

/* Card Viewer */
.view-card {
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 5%;
  width: 358px;
  height: 500px;
  margin-top: -250px;
  z-index: 2000;
  opacity: 0;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  -webkit-transition: opacity .25s ease-in-out;
}
.view-card.show {
  visibility: visible;
  opacity: 1;
}
.view-card img {
  width: 100%;
  height: auto;
}
