body, html {
  margin: 0;
  padding: 0;
  background: url(/images/backgrounds/circuit-bw.png) center center no-repeat;
  background-size: cover;
  font-family: 'Titillium Web', sans-serif;
  font-size: 87%;
  height: 100%;
}
div {
  box-sizing: border-box;
}
.container {
  display: flex;
  padding: 5px;
  height: 100%;
}

/* Player Text Colors */
.chat .corp,
.corp .player .name {
  color: #289EE2;
}
.chat .runner,
.runner .player .name {
  color: #E54333;
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  width: 240px;
}
.sidebar .turn,
.sidebar .chat {
  background: rgba(190, 190, 190, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin: 5px;
}
.sidebar .turn {
  flex: 1 0 auto;
}
.sidebar .chat {
  height: 200px;
}
.sidebar .header {
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #bbb;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 300;
  font-size: 0.7em;
}
.sidebar .chat .messages {
  margin: 0;
  padding: 5px 3px;
  list-style: none;
  line-height: 1.15em;
}
.sidebar .chat .messages li {
  margin: 0 0 5px 0;
  padding: 5px;
  list-style: none;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}
.sidebar .chat .messages li.runner {
  margin-right: 15px;
}
.sidebar .chat .messages li.corp {
  margin-left: 15px;
}


/* Game Area */
.game {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 100%;
}
.board {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-content: center;
  margin: 5px;
  background: rgba(190, 190, 190, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
.hud {
  display: flex;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
.hud .stats {
  flex: 1 0 auto;
  display: flex;
  font-weight: 600;
  font-size: 1.1em;
}
.hud .stats > div {
  flex: 1 0 auto;
  text-align: center;
}
.hud .stats .label,
.hud .stats i,
.hud .stats .total {
  color: #bbb;
}
.hud .stats i {
  font-weight: bold;
}
.hud .stats .label {
  font-weight: 300;
}
.hud .stats .total {
  font-size: 0.8em;
}
.hud .player .side {
  text-transform: uppercase;
  font-size: 0.7em;
  color: #bbb;
}
.corp .hud {
  order: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.runner .hud {
  order: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.playmat {
  flex: 1 0 auto;
  display: flex;
}

/* Servers */
.servers {
  flex: 1 0 auto;
  display: flex;
  align-content: flex-start;
}
.servers .centrals {
  display: flex;
}
.servers .remotes {
  display: flex;
}
.servers .server {
  width: 100px;
  display: flex;
  flex-direction: column;
}
.servers .server .label {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  font-weight: 300;
  background: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: -5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 3px;
  font-size: 0.85em;
}
.servers .server .root {
  position: relative;
  flex: 1 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin: 5px;
  border-radius: 5px;
}
.servers .server .ice {
  flex: 1 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin: 5px;
  border-radius: 5px;
}

/* Rig */
.rig {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.rig .main {
  flex: 1 0 auto;
  display: flex;
  order: 2;
}
.rig .secondary {
  flex: 1 0 auto;
  display: flex;
  order: 1;
}
.rig .label {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  font-weight: 300;
  background: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: -5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 3px;
  font-size: 0.85em;
}
.rig .single,
.rig .zone {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin: 5px;
  border-radius: 5px;
}
.rig .single {
  width: 100px;
}
.rig .zone {
  flex: 1 0 auto;
}

/* Card Viewer */
.view-card {
  display: none;
  position: absolute;
  top: 20%;
  right: 20%;
  width: 280px;
  height: 395px;
  background: url(/images/cards/misc/card-back-corp.png);
  background-size: cover;
  z-index: 100;
  border: 1px solid #000;
  border-radius: 14px;
  opacity: 0.7;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.view-card:hover {
  opacity: 1;
}