<div class="hud">
  <div class="player area">
    <div class="label">Corp</div>
    <div class="name">cpsubrian</div>
  </div>
  <div class="stats area">
    <div class="credits">
      <i class="nr nr-credit stat"></i><span class="count">8</span>
    </div>
    <div class="badpub">
      <span class="stat">BP</span><span class="count">0</span>
    </div>
    <div class="handsize">
      <span class="stat">Hand</span><span class="count">4</span><span class="total">/5</span>
    </div>
  </div>
  <div class="score area">
    <div class="label">Score Area</div>
  </div>
</div>
<div class="playmat">
  <div class="servers">
    <div class="centrals">
      <div class="archives trash server">
        <div class="root area single"><div class="label">Arcvhies</div></div>
        <div class="ice area"></div>
      </div>
      <div class="rd server">
        <div class="root area single"><div class="label">R&amp;D</div></div>
        <div class="ice area"></div>
      </div>
      <div class="hq identity server">
        <div class="root area single">
          <div class="label">HQ</div>
          <div class="card">
            <img src="http://netrunnerdb.com/web/bundles/netrunnerdbcards/images/cards/en/03002.png">
          </div>
        </div>
        <div class="ice area"></div>
      </div>
    </div>
    <div class="remotes">
      <div class="remote server">
        <div class="root area single"><div class="label">Remote</div></div>
        <div class="ice area"></div>
      </div>
      <div class="remote server">
        <div class="root area single"><div class="label">Remote</div></div>
        <div class="ice area"></div>
      </div>
      <div class="remote server">
        <div class="root area single"><div class="label">Remote</div></div>
        <div class="ice area"></div>
      </div>
      <div class="remote server">
        <div class="root area single"><div class="label">Remote</div></div>
        <div class="ice area"></div>
      </div>
      <div class="remote server">
        <div class="root area single"><div class="label">Remote</div></div>
        <div class="ice area"></div>
      </div>
    </div>
  </div>
</div>