<div class="hud">
  <div class="player area">
    <div class="label">Runner</div>
    <div class="name">joshstender</div>
  </div>
  <div class="stats area">
    <div class="credits">
      <i class="nr nr-credit stat"></i><span class="count">11</span>
    </div>
    <div class="link">
      <i class="nr nr-link stat"></i><span class="count">1</span>
    </div>
    <div class="memory">
      <i class="nr nr-mu stat"></i><span class="count">4</span>
    </div>
    <div class="tags">
      <span class="stat">Tags</span><span class="count">0</span>
    </div>
    <div class="brain">
      <span class="stat">BD</span><span class="count">0</span>
    </div>
    <div class="handsize">
      <span class="stat">Hand</span><span class="count">5</span><span class="total">/5</span>
    </div>
  </div>
  <div class="score area">
    <div class="label">Score Area</div>
  </div>
</div>
<div class="playmat">
  <div class="rig">
    <div class="secondary">
      <div class="single console area">
        <div class="label">Console</div>
      </div>
      <div class="zone hardware area">
        <div class="label">Hardware</div>
      </div>
      <div class="zone programs area">
        <div class="label">Programs</div>
      </div>
    </div>
    <div class="main">
      <div class="single heap trash area">
        <div class="label">Heap</div>
      </div>
      <div class="single stack area">
        <div class="label">Stack</div>
      </div>
      <div class="single grip identity area">
        <div class="label">Grip</div>
        <div class="card">
          <img src="http://netrunnerdb.com/web/bundles/netrunnerdbcards/images/cards/en/03028.png">
        </div>
      </div>
      <div class="zone resources area">
        <div class="label">Resources</div>
      </div>
    </div>
  </div>
</div>